@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.section {
  color: blue;
}

body {
  background-color: black;
  color: aliceblue;
  height: 980px;
  width: 1920px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
